.nav.nav-pills {
  font-size: 0.8em;
}

.total-card {
  font-size: 0.8em;
  justify-content: space-between;
  flex-grow: 1;
  .name {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 900;
  }
  .total {
    font-family: "roboto";
  }
}

.chart {
  width: 50%;
  box-sizing: border-box;
  margin: 5%;
  padding: 5%;
}
