.top-row{
    height: 100px;

    > .top-card{
        flex-grow: 1;
        height: 50px;
        display: flex;
        align-items: center;
        margin: 10px;
        background-color: rgb(133, 73, 73);
        padding: 5px;

        > .btn{
            width: 100%;
            height: 100%;;
        }
    }
}